#content-box{
    /*border: 1px solid #000000;*/

}
#shopping-cart{
    margin-top:30px;
    font-size: 13px;
}
#shopping-cart>div.title{
    display:flex;
    justify-content:space-between;
    /*border:1px solid #000000;*/
    height: 42px;
    margin-bottom: 10px;
    line-height: 42px;
}
#shopping-cart>div.title>p>:first-child{
    width: 20px;
    border-bottom: 1px solid #000000;
}
#shopping-cart>div.title>p>:nth-child(2)~span{
    color:red;
}
#shopping-cart>div.title>b{
    font:18px "微软雅黑";
    font-weight:bold;
    color:#333;
    position: relative;
    top: 7px;
}
#shopping-cart .total{
    font-size:14px;
    padding:0 3px;
    font-weight:bold;
}
.color{
    /*color:#0aa1ed;*/
}
#shopping-cart .totalPrices{
    padding-left:8px;
    font-size:16px;
    font-weight:bold;
}
#box{
    marin-bottom:100px;
}
#content-box>div.imfor-top{
    height:36px;
    line-height:36px;
    margin-bottom:16px;
    /*background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);*/
    /*box-shadow:3px 3px 6px #ccc;*/
    border-top:1px solid #bbb;
    margin:10px 0;
    display:flex;
    text-align:center;
    color:#808080;
}
#content-box div.check-top{
    width:62px;
}
#content-box div.check-top>:first-child{
    position: relative;
    top: -11px;
    left: 0px;
}
#content-box div.product-top{
    width:370px;
}
#content-box div.price-top{
    width:209px;
}
#content-box div.num-top{
    width: 77px;
}
#content-box div.total-top{
    width:176px;
}
#content-box div.del-top{
    width:97px;
}
#content-box div.imfor{
    height:110px;
    margin-bottom:10px;
    background:#fff;
    border:1px solid #e8e8e8;
    display:flex;
    position:relative;
}
#content-box div.check{
    width:62px;
}
#content-box div.check img{
    position:absolute;
    top:47px;
    left:27px;
}
#content-box div.product{
    width:400px;
    margin-top:18px;
    text-align: left;
}
#content-box div.product>a{
    position: relative;
    top: 9px;
    float:left;
    margin-right:5px;
}
#content-box div.product>span>a{
    text-align: left;
}
#content-box div.product p.col{
    position: absolute;
    width: 100%;
    text-align: left;
    position: relative;
    left: 0px;
    bottom: -16px;
}
#content-box div.price{
    text-align:center;
    width:142px;
}
#content-box div.price>:last-child{
    position: relative;
    top: 6px;
}
#content-box div.product~div{
    box-sizing:border-box;
    border-left:1px solid #ddd;
}
#content-box div.price p.price-desc{
    margin-top:40px;
    font-weight:bold;
    color:#00a1ed;
    box-sizing:border-box;
}
#content-box div.num{
    width:140px;
}
#content-box div.num span{
    display:inline-block;
    width:24px;
    height:24px;
    border:1px solid #bbb;
    background:#e8e8e8;
    text-align:center;
    line-height:24px;
    color:#444;
    float:left;
    margin-top:42px;
    cursor: pointer;
}
#content-box div.num span.reduce{
    margin-left:32px;
}
#content-box div.num input{
    width:17px;
    height:22px;
    padding-left:9px;
    font:12px simhei;
    border:1px solid #bbb;
    border-left:none;
    border-right:none;
    float:left;
    margin-top:42px;
}
#content-box div.total-price{
    text-align:center;
    line-height:115px;
    width:120px;
}
#content-box div.total-price>:first-child{
    position: relative;
    top: -2px;
}
#content-box div.total-price>:last-child{
    position: relative;
    top: -2px;
}
#content-box div.del{
    width:155px;
    text-align:center;
    line-height:110px;
}
#box div.foot{
    margin-top:15px;
    height:42px;
    line-height:42px;
    display:flex;
    justify-content:space-between;
    border-top: 1px solid #bbb;
    /*border: 1px solid #000000;*/
}
#box div.foot>div{
    display:flex;
}
#box div.foot div.all{
    width:47px;
    margin-left:10px;
    cursor:pointer;
}
#box div.foot div.all>span>:first-child{
    position: relative;
    top:-15px;
    left: -5px;
}
#box div.foot div.foot-qk{
    height:23px;
    line-height:23px;
    width:84px;
    text-align:center;
    background:#ccc;
    color:#fff;
    margin-left:15px;
    cursor:pointer;
    align-self:center;
}
#box div.foot div.foot-selected{
    margin-right:15px;
}
#box div.foot div.foot-selected>span{
    width: 20px;
    border-bottom: 1px solid #000000;
}
#box div.foot span.totalOne{
    font-size:14px;
    font-weight:bold;
    margin:0 5px;
}
#box div.foot-tol{
    margin-right:15px;
}
#box div.foot-tol span+span{
    color: red;
    font-size:16px;
    font-weight:bold;
}
#box div.foot-cash{
    cursor:pointer;
    width:140px;
    height:42px;
    line-height:42px;
    background:linear-gradient(to bottom,#27b0f6,#0aa1ed);
    text-align:center;
    font-size:18px;
    color:#fff;
    border-radius:2px;
}

#box .go-price>:last-child{
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    /*border: 1px solid #3144F8;*/
    border-radius: 5px;
    top: 6px;
    left: 0px;
    overflow: hidden;
    line-height: 32px;
    text-align: center;
    background-color: #F4F5FE;
    color: #3144F8;
}
/*��һ��ul�µ�1��li*/
#box .go-price>:last-child>:first-child{
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
    top: 10px;
    left: -5px;
    background-color: #FFFFFF;
    z-index: 15;
}
/*��һ��ul�µ�2��li*/
#box .go-price>:last-child>:nth-child(2){
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    top: 0px;
    left: 0px;
}
/*��һ��ul�µ�3��li*/
#box .go-price>:last-child a{
    font-size: 15px;
}
#box .go-price>:last-child>:last-child{
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
    top: 10px;
    right: -5px;
    background-color: #FFFFFF;
    z-index: 15;
}

