svg {
	pointer-events: none;
}

/* Demo 1 */

 figcaption {
	margin: 0 auto 0 auto;
	width: 100%;
	width: 95%;
	text-align: center;
}

/*.demo-drawings {*/
	/*margin-top: 8em;*/
/*}*/

.demo-drawings figcaption h2 {
	font-weight: 300;
	font-size: 3em;
	margin-bottom: 0.2em;
}

.demo-drawings figcaption p {
	font-size: 1.3em;
}

.drawings {
	width: 1024px;
	height: 400px;
	display: flex;
	position: relative;
	max-height: 600px;
	overflow: hidden;
	border-bottom: 1px solid #E4E4E4;
}
.drawings>:last-child {
	width: 405px;
	height: 370px;
	position: absolute;
	box-sizing: border-box;
	top: 14px;
	right: 100px;
	overflow: hidden;
	z-index: 10;
}

.illustration {
	position: absolute;
	top: 49%;
	left: 28%;
	max-height: 93%;
	max-width: 70%;
	opacity: 0;
	z-index: 1;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;////////////////原来是0
}

.line-drawing,
.illustration {
	transition: opacity 0.5s;
}
/*svg*/
.line-drawing{
	position: absolute;
	top: -105px;
	left: -25px;
	width:620px;
	height:600px;
}

.line-drawing path {
	fill: none;
	stroke: #000;//更改线条颜色
	stroke-width: 3;
}

path.line-round {
	stroke-linecap: round;
}

path.stroke-medium {
	stroke-width: 2;
}

path.stroke-thin {
	stroke-width: 1;
}

